*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

/* Assets */
/* /Assets */

/* ui */
#ui{
    display: flex;
    flex-flow: row nowrap;
    /* flex */
    height: 100dvh;
    width: 100vw;
}

#side{
    width: 35%;
}

main {
    width: 65%;
    background-image: url('../img/mine.jpg');
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    /* flex */
    height: 80px;
    background-color: #EAEAEA;
}

#side header {
    border-right: 1px solid #D6D6D6;
}

#side header .left,
#side header .right  {
    display: flex;
    align-items: center;
    gap: 1em;
    /* flex */
    height: 100%;
    padding: .5em 1em;
}

#side header .left img{
    height: 100%;
    border-radius: 50%;
}

.fa-solid{
    font-size: 1.3em;
    color: #B1B1B1;
}
/* /header */

#side #notification {
    display: flex;
    align-items: center;
    /* flex */
    height: 90px;
    background-color: #78DCFF;
}

#side #notification .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex */

    background-color: #fff;
    height: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 1em;
}

#side #notification .icon .fa-solid{
    color: #78DCFF;
}

#side #notification .notification-info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#side #notification .notification-info a, 
#side #notification .notification-info a:visited,
#side #notification .notification-info a:focus
{
    color: grey;
}

#search{
    padding: .5em;
    background-color: #FAFAFA;
}

#search .search-bar {
    display: flex;
    /* flex */

    height: 2em;
}

#search .search-bar .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex */
    background-color: #fff;
    width: 70px;
    font-size: .8em;

    border-right: 1px solid #FAFAFA;
}

#search .search-bar input{
    flex-grow: 1;
    /* flex */
    border: none;
    padding-left: 1em;
}

#search .search-bar input:focus-visible{
    outline: none;
}

